--langdef=asciidoc
--langmap=asciidoc:.asc.adoc.asciidoc
--regex-asciidoc=/^= +(.*)/\1/s,title,document title/
--regex-asciidoc=/^={2} +(.*)/· \1/s,section,level 1 section/
--regex-asciidoc=/^={3} +(.*)/· · \1/s,section,level 2 section/
--regex-asciidoc=/^={4} +(.*)/· · · \1/s,section,level 3 section/
--regex-asciidoc=/^={5} +(.*)/· · · · \1/s,section,level 4 section/
--regex-asciidoc=/^={6} +(.*)/· · · · · \1/s,section,level 5 section/
--regex-asciidoc=/^include::([^\[]+)/\1/i,include,included file/
--regex-asciidoc=/^video::([^\[]+)/\1/v,video,video/
--regex-asciidoc=/^image::?([^\[]+)/\1/I,image,image/
--regex-asciidoc=/^([ \t]|[^\/]{2}.*)\bimage:([^\[]+)/\2/I,image,image/
--regex-asciidoc=/^:([^!:]+):/\1/a,set,set attribute/
--regex-asciidoc=/^ifn?def::[^\[]+\[:([^!:]+):/\1/a,set,set attribute/
--regex-asciidoc=/\{set:([^!:]+):[^\}:!]+\}/\1/a,set,set attribute/
--regex-asciidoc=/^:!([^!:]+):/\1/A,unset,unset attribute/
--regex-asciidoc=/^ifn?def::[^\[]+\[:!([^!:]+):/\1/A,unset,unset attribute/
--regex-asciidoc=/^:([^!:]+)!:/\1/A,unset,unset attribute/
--regex-asciidoc=/^ifn?def::[^\[]+\[:([^!:]+)!:/\1/A,unset,unset attribute/
--regex-asciidoc=/\{set:([^!:]+)!\}/\1/A,unset,unset attribute/
