{{range .Files}}
{{- $path := .Path -}}
{{- range .Alerts -}}
{{- $severity := .Severity -}}
{{- if eq .Severity "suggestion" -}}
    {{- $severity = "note" -}}
{{end -}}
{{$path}}:{{.Line}}:{{index .Span 0}}:{{$severity}}: {{.Message}} ({{.Check}})
{{end -}}
{{end -}}
